{% extends "base.html" %}

{% block navbar %}
<A class="nav-item nav-link" id="home" href="/">TestMaker</A>
<A class="nav-item nav-link" id="logout" href="/logout">Log out</A>
<A class="nav-item nav-link" id="dashboard" href="/{{ name.replace(" ", "_") }}">Dashboard</A>
<A class="nav-item nav-link" id="mytests" href="/{{ name.replace(" ", "_") }}/my_tests">My tests</A>
<A class="nav-item nav-link" id="add_new_question" href="/{{ name.replace(" ", "_") }}/{{ exam_name.replace(" ", "_") }}/add_new_question">Add a new question</A>
{% endblock %}

{% block content %}
<DIV style="justify-content: left; display: flex;">
  <FORM method="POST">
    <H3 align="center">Choose a question type to add</H3>
    <INPUT
      type="radio"
      id="multichoice"
      name="multichoice"
    />
    <LABEL for="multichoice">Multichoice question</LABEL><BR />
    <INPUT
      type="radio"
      id="short_answer"
      name="short_answer"
    />
    <LABEL for="short_answer">Short answer</LABEL><BR />
    <INPUT
      type="radio"
      id="true_false"
      name="true_false"
    />
    <LABEL for="true_false">True/False</LABEL>
    <BR />
    <BUTTON type="submit" class="btn-primary">Add</BUTTON>
    <BUTTON type="reset">Cancel</BUTTON>
  </FORM>
  <HR />
  <DIV style="justify-content: center; display: flex; align-items: center;">
    <H5 style="color:green">Select a question type to see its description</H5>
  </DIV>
</DIV>
{% endblock %}

