{% extends "base.html" %}

{% block navbar %}
<A class="nav-item nav-link" id="home" href="/">TestMaker</A>
<A class="nav-item nav-link" id="dashboard" href="/{{ name.replace(" ", "_") }}">Dashboard</A>
<A class="nav-item nav-link" id="add_candidate" href="/{{ name.replace(" ", "_") }}/add_candidate">Add a candidate</A>
<A class="nav-item nav-link" id="logout" href="/logout">Log out</A>
{% endblock %}

{% block content %}
<FORM method="POST">
  <H3 align="center">Add a candidate to a test</H3>
  <DIV class="form-group">
    <LABEL for="email">Email Address</LABEL>
    <INPUT
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </DIV>
  <DIV class="form-group">
    <LABEL for="first_name">First Name</LABEL>
    <INPUT
      type="text"
      class="form-control"
      id="first_name"
      name="first_name"
      placeholder="Enter first name"
    />
  </DIV>
  <DIV class="form-group">
    <LABEL for="last_name">Last Name</LABEL>
    <INPUT
      type="text"
      class="form-control"
      id="last_name"
      name="last_name"
      placeholder="Enter last name"
    />
  </DIV>
  <DIV class="form-group">
    <LABEL for="password1">Password</LABEL>
    <INPUT
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </DIV>
  <DIV class="form-group">
    <LABEL for="password2">Confirm password</LABEL>
    <INPUT
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Enter password"
    />
  </DIV>
  <DIV class="form-group">
    <LABEL for="Examination nane">Examination name</LABEL>
    <INPUT
      type="text"
      class="form-control"
      id="exam_name"
      name="exam_name"
      placeholder="Enter examination name"
    />
  </DIV>
  <BR />
  <BUTTON type="submit" class="btn btn-primary">Submit</BUTTON>
</FORM>
{% endblock %}
