{% extends "base.html" %}

{% block navbar %}
<A class="nav-item nav-link" id="home" href="/">TestMaker</A>
<A class="nav-item nav-link" id="dashboard" href="/{{ name.replace(" ", "_") }}">Dashboard</A>
<A class="nav-item nav-link" id="mytests" href="/{{ name.replace(" ", "_") }}/my_tests">My tests</A>
<A class="nav-item nav-link" id="make_test" href="/{{ name.replace(" ", "_") }}/make_new_test">Make a new test</A>
<A class="nav-item nav-link" id="logout" href="/logout">Log out</A>
{% endblock %}

{% block content %}
<FORM method="POST">
  <H3 align=center">Make a New Test</H3>
  <DIV class="form-group">
    <LABEL for="name">Test name</LABEL>
    <INPUT
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter test name"
    />
  </DIV>
  <DIV class="form-group">
    <LABEL for="grade">Grade</LABEL>
    <INPUT
      type="number"
      class="form-control"
      id="grade"
      name="grade"
      placeholder="100"
      min="1"
      max="100"
    />
  </DIV>
  <BR />
  <BUTTON type="submit" class="btn btn-primary">Create Test</BUTTON>
</FORM>
{% endblock %}

